#principal{
	width: 900px;
	height: 600px;
	margin: auto;
	color: white;
	font-size : 14pt
}

header{
	width: 900px;
	height: 100px;
}

body{
	background: url(../img/fn.jpg);
}


#logo{
	width: 200px;
	height: 120px;
	float: left;
}

.menu{
	width: 670px;
	height: 60px;
	border: 1px solid #ccc;
	float: right; 
	margin-top: 30px;
	background: #006699;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff;
}

#im{
	margin-top: 10px;
	width: 600px;
	height: 300px;
	 
}
h6{
	font-size: 8pt;
	opacity: 0.2; 
}
